{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block body %}
<h1 class="fw-bold mt-3">게시판</h1>
<hr>
{% if request.user.is_authenticated %}
<span>{{ request.user }}님, 어서오세요!</span>
<p>
<a href="{% url 'accounts:logout' %}">로그아웃</a>
<a href="{% url 'accounts:update' %}">회원정보 수정</a>
<a href="{% url 'accounts:change_password' %}">비밀번호 변경</a>
<a href="{% url 'articles:create' %}">글쓰기</a>
<a href="{% url 'accounts:delete' %}">회원 탈퇴</a>
</p>

{% for article in articles %}
<h3><a href="{% url 'articles:detail' article.pk %}">{{ article.title }}</a></h3>
<p>글 번호: {{ article.pk }}</p>
<p>{{ article.created_at }} | {{ article.updated_at }}</p>
<hr>
{% endfor %}

{% else %}
<p>안녕하세요, 게시판을 보시려면 회원가입 후 로그인을 해주세요.</p>
<a href="{% url 'accounts:signup' %}">회원가입</a>
<a href="{% url 'accounts:login' %}">로그인</a>
{% endif %}
<hr>


{% endblock body %}