/* 아래에 CSS를 작성해주세요. */
.card {
    width: 300px;
    margin-left: 10px;
}
.product_img {
    display: flex;
    justify-content: center;
    width: 300px;
}
.store {
    color: darkgray;
}
.product_name {
    letter-spacing: -2.8px
}
.sale {
    font-size: 20px;
    font-weight: bold;
    color: skyblue;
}
.price {
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
}
.score {
    font-size: small;
    font-weight: bold;
}
.review {
    font-size: small;
    font-weight: bold;
    color: gray;
}